h1 OKRs for #{data.ownerfullname} for #{data.period}

- if(data.obj1)
	.goal 1: #{data.obj1.goal}
	ul.kr
		- if(data.obj1.kr1)
			li #{data.obj1.kr1} 
				.date #{data.obj1.kr1date}
		- if(data.obj1.kr2)
			li #{data.obj1.kr2}
		- if(data.obj1.kr3)
			li #{data.obj1.kr3}
		- if(data.obj1.kr4)
			li #{data.obj1.kr4}
		- if(data.obj1.kr5)
			li #{data.obj1.kr5}
			
- if(data.obj2)			
	.goal 2: #{data.obj2.goal}
	ul.kr
		- if(data.obj2.kr1)
			li #{data.obj2.kr1}
		- if(data.obj2.kr2)
			li #{data.obj2.kr2}
		- if(data.obj2.kr3)
			li #{data.obj2.kr3}
		- if(data.obj2.kr4)
			li #{data.obj2.kr4}
		- if(data.obj2.kr5)
			li #{data.obj2.kr5}
			
- if(data.obj3)	
	.goal 3: #{data.obj3.goal}
	ul.kr
		- if(data.obj3.kr1)
			li #{data.obj3.kr1}
		- if(data.obj3.kr2)
			li #{data.obj3.kr2}
		- if(data.obj3.kr3)
			li #{data.obj3.kr3}
		- if(data.obj3.kr4)
			li #{data.obj3.kr4}
		- if(data.obj3.kr5)
			li #{data.obj3.kr5}
			
if(data.obj4)			
	.goal 4: #{data.obj4.goal}
	ul.kr
		- if(data.obj4.kr1)
			li #{data.obj4.kr1}
		- if(data.obj4.kr2)
			li #{data.obj4.kr2}
		- if(data.obj4.kr3)
			li #{data.obj4.kr3}
		- if(data.obj4.kr4)
			li #{data.obj4.kr4}
		- if(data.obj4.kr5)
			li #{data.obj4.kr5}